@import "tailwindcss";
@tailwind utilities;



body {
  background: oklch(96.8% 0.007 247.896);
  font-family: var(--jakarta)
}

.box {
  background: oklch(96.7% 0.001 286.375);
  min-height: 25vh;
  min-width: 25vh;
}